@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: local('Acme Regular'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v9/RrQfboBx-C5_XxrBaw.ttf) format('truetype');
}
